html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: red;
	height: 100%;
	font-weight: 300;
	min-height: 416px;
	width: 320px;
}

#background {
	background-color: black;
	height: 100%;
	opacity: 0;
	min-height: 516px;
	-webkit-transition: opacity 1s ease-out 1100ms;
	height: 100%;
}

.button {
	background-color: #fcd32b;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: perspective(600px) rotateY(-90deg) scale(2);
}

.button-big {
	width: 145px;
	height: 145px;
}

.button-small {
	width: 67.5px;
	height: 67.5px;
}

.button img {
	width: 100%;
	height: 100%;
}

#buttons {
	position: absolute;
	top: 50%;
	height: 320px;
	margin-top: -160px;
}
